
{block content}
	<h1>SRP</h1>
	<a n:href="Edit:create" class="waves-effect waves-light btn-large">+ PŘIDAT ZNAČKU</a>
<table>
	<tr>
		<th>Název <a href="">&uarr;</a> <a href="">&darr;</a></th>
		<th>Akce</th>
	</tr>
	<tr n:foreach="$brands as $brand" class="brand">
		<td>{$brand->name}</td>
		<td>
			<a n:href="delete!, $brand->id" onClick="return confirm('Opravdu smazat?');">Smazat</a>
			<a n:href="Edit:edit $brand->id">Editovat</a>
		</td>

	</tr>
</table>
{/block}


